@font-face {
	font-family: Graphik;
	font-weight: 500;
	font-style: normal;
	src: url("/graphik-regular.woff2") format("woff2"), url("/graphik-regular.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: Graphik;
	font-weight: 600;
	font-style: normal;
	src: url("/graphik-semibold.woff2") format("woff2"), url("/graphik-semibold.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: Graphik;
	font-weight: 700;
	font-style: normal;
	src: url("/graphik-bold.woff2") format("woff2"), url("/graphik-bold.woff") format("woff");
	font-display: swap;
}

* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
	font-family: Graphik, sans-serif;
}

html {
	font-size: 100%;
	scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
}

:root {
	--apple: #449764;
	--dusk: #1d201f;
	--froth: #fefbf2;
	--dusk-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
	--overlay-gradient: linear-gradient(to top, rgba(29, 32, 31, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1;
	scroll-behavior: smooth;
	backface-visibility: hidden;
	font-weight: 500;
	font-family: Gilroy, sans-serif;
	color: var(--charcoal90);
	@media (min-width: 1824px) {
		max-width: 80%;
		margin: 0 auto;
	}
}

img {
	max-width: 100%;
	display: block;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

/*Swiper overrides*/
.swiper {
	@media (min-width: 640px) {
		padding: 5em 0 !important;
	}
}
.swiper-slide-next {
	z-index: 2;
}
