.scrollDown {
  position: absolute;
  bottom: -2em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  @media (min-width: 1350px) {
    bottom: -3.5em;
  }
}
.scrollBtn {
  position: relative;
  display: block;
  border: none;
  color: white;
  font-weight: 700;
  line-height: .9em;
  width: 80px;
  height: 80px;
  background: var(--dusk);
  border-radius: 100%;
  white-space: pre-wrap;
  padding: 1em;
  cursor: pointer;
  transition: all .25s ease;
  @media (min-width: 992px) {
    width: 90px;
    height: 90px;
  }
  &:hover {
    background: var(--apple);
  }
}
.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em 0 0 0;
  .arrow {
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    border-style: solid;
    border-color: white;
    border-width: 0px 3px 3px 0px;
    transform: rotate(45deg);
  @media (min-width: 992px) {
    width: 40px;
    height: 40px;
  }
  }
}